.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}







.loading-spinner{
  /* background-color: yellow; */
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}





.footer {
  display: flex;
  /* justify-content: center; */

  background-color: #0a0048;
  color: white;
  height: fit-content;
  padding: 50px;
  flex-wrap: wrap;
}

.subfooter {
  margin-right: 60px;
  /* background-color:yellow; */
  color: white;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: baseline;

}

.subfooter h1{
  color: red;
}
.footerlinks {
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footerlinks:hover {
  text-decoration: underline;
}













@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
